# Do not `pip install -r` this file locally or in CI.
# It only exists to be used in the Dockerfile.tests file.

jupyter
jupyterlab
matplotlib
scikit-learn
setuptools>=78.1.1 # not directly required, pinned by Snyk to avoid a vulnerability
